
  
  .header-container{
    
    background-color: black;
   
   
  }
  .d-block w-50 h-50{
   
   margin:350px;
  }
  body{
    background-image:url("lady.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
